In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('assets/birds.csv',index_col='ID')
df1.head(2)

   Common Bird Names
ID
1   Abbott's babbler
2     Abbott's booby

In [8]:
# !pip install openpyxl
df2 = pd.read_excel('assets/DCPP_Group_Assignment/Birds_Dataset.xlsx',index_col='Common Name')
df2.head(2)

,Serial No,Conservation status,Kingdom,Phylum,Class,Order,Family,Genus,Species,Binomial Name,Description,Categories,References,Wiki URL,Image,Country,Habitat
Common Name,,,,,,,,,,,,,,,,,
Abyssinian crimsonwing,1,Least Concern,Animalia,Chordata,Aves,Passeriformes,Estrildidae,Cryptospiza,C. salvadorii,"Cryptospiza salvadoriiReichenow, 1892[2]",The Abyssinian crimsonwing (Cryptospiza salvad...,"Articles with species microformats, Articles w...",http://www.hbw.com/species/ethiopian-crimsonwi...,https://en.wikipedia.org/wiki/Abyssinian_crims...,https://upload.wikimedia.org/wikipedia/commons...,Ethiopia,forest
Abyssinian ground hornbill,2,Vulnerable,Animalia,Chordata,Aves,Bucerotiformes,Bucorvidae,Bucorvus,B. abyssinicus,"Bucorvus abyssinicus(Boddaert, 1783)",The Abyssinian ground hornbill or northern gro...,"Articles with species microformats, Articles w...",http://www.hbw.com/species/northern-ground-hor...,https://en.wikipedia.org/wiki/Abyssinian_groun...,https://upload.wikimedia.org/wikipedia/commons...,NaN,NaN

In [19]:
# Opening new dataset
df1 = pd.read_csv('assets/birds_attributed.csv',index_col='Name')
df1.index.names = ['Common Name']
df1.head(2)

,Scientific Name,Other names,Country of origin,Species,Genera,Size,Family,Order,Order_count,Found_in,...,Color,Food intake,Beaks,Age span,Hearing range,hearing threshold,habitat tropical,habitat terrestrial,visual system,auditory system
Common Name,,,,,,,,,,,,,,,,,,,,,
Abbott's babbler,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abbott's booby,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(6867, 17)

In [20]:
df = pd.merge(df1,df2,how='outer',on=['Common Name'])
df.head(2)

,Scientific Name,Other names,Country of origin,Species_x,Genera,Size,Family,Order_x,Order_count,Found_in,...,Genus,Species_y,Binomial Name,Description,Categories,References,Wiki URL,Image,Country,Habitat
Common Name,,,,,,,,,,,,,,,,,,,,,
Abbott's babbler,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abbott's booby,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df.to_csv("./assets/BirdsClassificationMain.csv")