In [60]:
import pandas as pd

In [61]:
df1 = pd.read_csv('assets/birds.csv',index_col='ID')
df1.head(2)

   Common Bird Names
ID
1   Abbott's babbler
2     Abbott's booby

In [62]:
for i in range(1,df1.shape[0]) :
    df1.loc[i].at['Common Bird Names'] = df1.loc[i].at['Common Bird Names'].replace("'","")
# df.loc[index].at['column']
df1.head(2)

   Common Bird Names
ID
1    Abbotts babbler
2      Abbotts booby

In [63]:
# !pip install openpyxl
df2 = pd.read_excel('assets/DCPP_Group_Assignment/Birds_Dataset.xlsx',index_col='Common Name')
df2.head(2)

,Serial No,Conservation status,Kingdom,Phylum,Class,Order,Family,Genus,Species,Binomial Name,Description,Categories,References,Wiki URL,Image,Country,Habitat
Common Name,,,,,,,,,,,,,,,,,
Abyssinian crimsonwing,1,Least Concern,Animalia,Chordata,Aves,Passeriformes,Estrildidae,Cryptospiza,C. salvadorii,"Cryptospiza salvadoriiReichenow, 1892[2]",The Abyssinian crimsonwing (Cryptospiza salvad...,"Articles with species microformats, Articles w...",http://www.hbw.com/species/ethiopian-crimsonwi...,https://en.wikipedia.org/wiki/Abyssinian_crims...,https://upload.wikimedia.org/wikipedia/commons...,Ethiopia,forest
Abyssinian ground hornbill,2,Vulnerable,Animalia,Chordata,Aves,Bucerotiformes,Bucorvidae,Bucorvus,B. abyssinicus,"Bucorvus abyssinicus(Boddaert, 1783)",The Abyssinian ground hornbill or northern gro...,"Articles with species microformats, Articles w...",http://www.hbw.com/species/northern-ground-hor...,https://en.wikipedia.org/wiki/Abyssinian_groun...,https://upload.wikimedia.org/wikipedia/commons...,NaN,NaN

In [69]:
# Opening new dataset
# df1 = pd.read_csv('assets/birds_attributed.csv',index_col='Name')
# df1.index.names = ['Common Name']
# print(df1.head(2))
# df1.loc[2].at['Name'] = 
# for i in range(0,df1.shape[0]-1) :
    # df1.loc[i].at['Name'] = df1.loc[i].at['Name'].replace("'","")
# df1.head(3)
# df1.loc[2].at['Name'].replace("'","")
# df1.loc[2,'Name'] = df1.loc[2,'Name'].replace("'","")
# df1.loc[2,'Name']
df1 = pd.read_csv('assets/birds_attributed.csv')
for i in range(0,df1.shape[0]-1) :
    df1.loc[i,'Name'] = df1.loc[i,'Name'].replace("'","")
df1.head(5)

,Name,Scientific Name,Other names,Country of origin,Species,Genera,Size,Family,Order,Order_count,...,Color,Food intake,Beaks,Age span,Hearing range,hearing threshold,habitat tropical,habitat terrestrial,visual system,auditory system
0,Abbotts babbler,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Abbotts booby,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abbotts starling,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abbotts sunbird,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Abd al-Kuri sparrow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
df1 = df1.set_index('Name')

In [74]:
df1.index.names = ['Common Name']
df1.head(2)

,Scientific Name,Other names,Country of origin,Species,Genera,Size,Family,Order,Order_count,Found_in,...,Color,Food intake,Beaks,Age span,Hearing range,hearing threshold,habitat tropical,habitat terrestrial,visual system,auditory system
Common Name,,,,,,,,,,,,,,,,,,,,,
Abbotts babbler,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abbotts booby,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
df = pd.merge(df1,df2,how='outer',on=['Common Name'])
df.head(2)

,Scientific Name,Other names,Country of origin,Species_x,Genera,Size,Family,Order_x,Order_count,Found_in,...,Genus,Species_y,Binomial Name,Description,Categories,References,Wiki URL,Image,Country,Habitat
Common Name,,,,,,,,,,,,,,,,,,,,,
Abbotts babbler,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Malacocincla,M. abbotti,"Malacocincla abbottiBlyth, 1845",Abbott's babbler (Malacocincla abbotti) is a s...,"Articles with species microformats, Articles w...",http://ibc.lynxeds.com/species/abbotts-babbler...,https://en.wikipedia.org/wiki/Abbott%27s_babbler,https://upload.wikimedia.org/wikipedia/commons...,NaN,forest
Abbotts booby,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"PapasulaOlson & Warheit, 1988",P. abbotti,"Papasula abbotti(Ridgway, 1893)",Abbott's booby (Papasula abbotti) is an endang...,"Articles with species microformats, Articles w...",http://www.environment.gov.au/biodiversity/thr...,https://en.wikipedia.org/wiki/Abbott%27s_booby,https://upload.wikimedia.org/wikipedia/commons...,Christmas Island,forest

In [ ]:
df.to_csv("./assets/BirdsClassificationMain.csv")