# Scraping about Birds

## About Birds classification

getting all the types of birds

In [1]:
#!pip install beautifulsoup4
#!pip install selenium
#!pip install scrapy

In [2]:
from bs4 import BeautifulSoup
from selenium import webdriver
import scrapy
import pandas as pd

In [5]:
df = pd.read_csv('assets/birds.csv',index_col='ID')
df.head(4)

    Common Bird Names
ID
1    Abbott's babbler
2      Abbott's booby
3   Abbott's starling
4    Abbott's sunbird